*{
margin: 0;
padding: 0
}
.navbar-section{
    text-align: center;
    padding: 50px;
    background-image: url("../Assets/Hero-bg.png");
    width: 1440px;
    height: 698px;
    border-radius: 25px;
}
.head{
    color: #4e47ff;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 10px;
}
.text-info{
    font-size: 65px;
}
.banner-section{
    text-align: center;
    margin: 158px;
   
}
.btn{
   
    background-color: #4E47FF;
    color: #fff;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin: 30px;

    
}
.btn:hover{
    background-color: brown;
}
.action-section{
    display: flex;
    justify-content:space-between;
    align-items: center;
   margin: 130px 230px;
    gap: 40px;
    flex-wrap: wrap;
    
}
.text-contant{
    max-width: 580px;
    
}
.img-content{
    width: 403px;
    height: 328px;
    border-radius: 48px;
    
}
.user-title{
    font-size: 38px;
    font-weight:500;
}
.productivity-section {
      background-color: #9794f4; 
      padding: 30px;
      text-align: center;
      margin:  130px  230px;
      border-radius: 30px;
   
    }

    .productivity-section h2 {
      font-size: 28px;
      margin-bottom: 30px;
      
      
    }

    .container {
      display: flex;
      justify-content: center;
      gap: 40px;
      flex-wrap: wrap;
    }

    .box {
      max-width: 180px;
    }

    .value {
      font-size: 40px;
      font-weight: bold;
      color:#0d05fa;
    }

    .subtitle {
      font-size: 14px;
      color:#000000;
      margin-top: 8px;
    }
